<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhaqhP0LDFFMpHhfPD0VS9ztKc6A5RcRY</string>
	<key>GCM_SENDER_ID</key>
	<string>376711198932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.editflow.editflow</string>
	<key>PROJECT_ID</key>
	<string>editflow-editorsworkspace</string>
	<key>STORAGE_BUCKET</key>
	<string>editflow-editorsworkspace.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376711198932:ios:dbb2c474c349650bcd2341</string>
</dict>
</plist>